{{#if page-contents}}
<section class="section">
    <div class="container">
        <div class="container-inner container-inner_lg">
            <div class="row">
                <div class="col col-12 col-md-8 col-lg-7">
                {{> headline-component page-contents.section-main.headline}}
                {{> text-component page-contents.section-main.content}}
                </div>
            </div>
            <div class="row">
                {{#each page-contents.charts}}
                <div class="col-12 col-sm-6 col-md-6 box-column">
                  <div class="box box_flex justify-content-center">
                        <!-- {{#if title}}
                        <h3 class="headline">{{title}}</h3>
                        {{/if}} -->
                        <div class="chart-container" data-key="{{dataKey}}">
                            <canvas id="{{dataKey}}"></canvas>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div id="chartConfiguration" data-config='{{#stringify page-contents.charts}}{{/stringify}}'></div>
            </div>
        </div>
    </div>
</section>
{{/if}}
